* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    height: 46.400px;
    list-style-type: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
}


#hotline {
    font-size: 16px;
    line-height: 46.400px;
    margin: 0 170px;
    opacity: 0.7;
}

#hotline1 {
    margin: -38px 230px;
    color: red;
    font-size: 23px;    
}

.follow-arrow {
    font-size: 15px;
    margin: 0 110px;
}

#follow-nav > h2 > a {
    font-size: 15px;
    float: right;
    text-decoration: none;
    color: #000;
    line-height: 46.400px;
    margin: 0 80px;
    font-weight: 200;
    position: relative;
}

#follow-nav h2:hover a {
    color: #fa4f26;
}

#follow .follow-shop {
    font-size: 13px;
    padding: 0 -6px;
}

#login-nav > h2 > a {
    font-size: 15px;
    float: right;
    text-decoration: none;
    color: #000;
    line-height: 46.400px;
    margin: 0 30px;
    font-weight: 200;
}

#login-nav h2:hover a {
    color: red;
}

#login {
    font-size: 15px;
    line-height: 46.400px;
    float: right;
    margin: 0 500px;
    font-weight: 200;
}

#login-nav .login-user {
    font-size: 13px;
}

#header .minus-btn {
    padding: 0 1178px;
    line-height: 46.400px;
}

#slider {

}

#img-shop {
    width: 300px;
    height: 250px;
    margin: -20px 70px;
}

#slider .logo-wall {
    font-size: 25px;
    padding: 0 350px;
    margin: -110px 0;
}

#slider .text-input {
    padding: 0 550px;
    margin: 50px 0;
}

#slider .search-input {
    float: right;
    margin: -33px -160px;
    position: relative;
    font-size: 20px;
}

#sp-wall input {
    width: 600px;
    height: 50px;
}

#slider .ds-wall {
    font-size: 20px;
    padding: 0 430px;
    margin: -107px 0;
}

#slider .search-wall {
    font-size: 15px;
}

#slider .s-wall {
    width: 300px;
}

#slider .sh-wall {
    float: right;
    padding: 0 310px;
    font-size: 30px;
    margin: -30px 0;
}


#slider .gh-wall > p {
    padding: 75px 1220px;
    width: 200px;
}

#content {
    background-color: red;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    padding: 0 80px;
    color: #fff;
    line-height: 46.400px;
    display: block;
    font-weight: 500;
}

#nav li:hover a {
    background-color: #f00;
    color: #000;
}

#contact {

}

#contact .thuonghieu-wall {
    border-style: solid;
    border: 1px solid #d0d0d0;
    margin: -2307px -250px;
    width: 250px;
    height: 1410px;
}

#contact .wall-ht {
    font-size: 20px;
    margin: 25px 20px;
    font-weight: 700;
}

#contact .wall-thuonghieu {
    line-height: 2;
    margin: 0 20px;
}

#contact .whey-protein {
    border-style: solid;
    border: 1px solid #d0d0d0;
    margin: 71px 330px;
    width: 1050px;
    height: 500px;
}

#contact .protein {
    margin: 20px 30px;
}

#contact .whey-protein1 p a {
    font-size: 17px;
    text-decoration: none;
    float: right;
    margin: -45px 15px;
    padding: 35px;
    color: #000;
}

#contact .whey-protein p:hover a {
    color: #fa4f26;
}

#contact .img-protein {
    width: 900px;
    height: auto;
    margin: 20px 80px;
}

#contact .whey-protein2 {
    color: #000;
    font-weight: 300;
    margin: 0 75px;
}

#contact .whey-protein3 {
    margin: -30px 270px;
    border-style: solid;
    border: 1px solid #d0d0d0;
    width: 150px;
    height: 40px;
    line-height: 35px;
    padding: 0 10px;
}

#contact .search {
    font-size: 10px;
    padding: 0 5px;
    color: #888;
}

#contact .whey-protein4 {
    margin: -40px 435px;
    border-style: solid;
    border: 1px solid #d0d0d0;
    width: 130px;
    height: 40px;
    line-height: 35px;
    padding: 0 15px;
}

#contact .search-ti {
    font-size: 10px;
    padding: 0 5px;
    color: #888;
}

#contact .whey-protein5 {
    margin: -40px 580px;
    border-style: solid;
    border: 1px solid #d0d0d0;
    width: 300px;
    height: 40px;
    line-height: 35px;
    padding: 0 15px;
}

#contact .search-ti1 {
    font-size: 10px;
    padding: 0 5px;
    color: #888;
}

#contact .whey-protein6 {
    float: right;
    width: 300px;
    height: 40px;
    line-height: 35px;
    padding: 0 15px;
    margin: 0 -145px;
}

#contact .search-ti2 {
    font-size: 20px;
    padding: 0px 5px;
    color: #fa4f26;
    line-height: 40px;
}

#rule1-protein {
    border-style: solid;
    border: 1px solid #d0d0d0;
    margin: -71px 330px;
    width: 1050px;
    height: 1225px;
}

#contact .lean-whey {
   
}

#contact .ls-b {
    border: solid 1px #f00;
    width: 60px;
    border-radius: 20px;
    color: #f00;
    padding: 0 10px;
    margin: 40px 30px;
}

#contact .b-ls p {
    border: solid 1px green;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    color: green;
    padding: 0 10px;
    margin: -64px 100px;
    font-size: 15px;
}

#contact .whey-lean {
    width: 180px;
    margin: 80px 10px;
}

#contact .header-lean {
    font-size: 15px;
    font-weight: 400;
    margin: -80px 20px;
}


#contact .lean-star {
    font-size: 15px;
    margin: 85px 20px;
    color: #ffac0d;
}

#contact .star-6 {
    color: #000;
    margin: -20px 100px;
}

#contact .money-lean {
    color: #fa4f26;
    font-weight: 700;
    margin: -80px 20px;
}

#contact .db-sl {
    margin: 100px 20px;
    padding: 0 40px;
    font-size: 13px;
    font-weight: 600;
    border: solid 1px #fa4f26;
    width: 220px;
    height: 25px;
    border-radius: 20px;
    color: #fff;
    background-color: #f00;
}

#contact .lean-whey1 {
    margin: -443px 270px;
 }
 
 #contact .ls-b1 {
     border: solid 1px #f00;
     width: 60px;
     border-radius: 20px;
     color: #f00;
     padding: 0 10px;
     margin: 40px 50px;
 }
 
 #contact .b-ls1 p {
     border: solid 1px green;
     width: 80px;
     height: 25px;
     border-radius: 20px;
     color: green;
     padding: 0 10px;
     margin: -64px 120px;
     font-size: 15px;
 }
 
 #contact .whey-lean1 {
     width: 180px;
     margin: 80px 30px;
 }
 
 #contact .header-lean1 {
     font-size: 15px;
     font-weight: 400;
     margin: -80px 20px;
 }
 
 
 #contact .lean-star1 {
     font-size: 15px;
     margin: 85px 20px;
     color: #ffac0d;
 }
 
 #contact .star1-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean1 {
     color: #fa4f26;
     font-weight: 700;
     margin: -80px 20px;
 }

 
 #contact .lean-whey1 {
    margin: -337px 250px;
 }
 
 #contact .ls-b1 {
     border: solid 1px #f00;
     width: 60px;
     border-radius: 20px;
     color: #f00;
     padding: 0 10px;
     margin: 40px 50px;
 }
 
 #contact .whey-lean1 {
     width: 180px;
     margin: 80px 30px;
 }
 
 #contact .header-lean1 {
     font-size: 15px;
     font-weight: 400;
     margin: -80px 25px;
 }
 
 
 #contact .lean-star1 {
     font-size: 15px;
     margin: 85px 25px;
     color: #ffac0d;
 }
 
 #contact .star1-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean1 {
     color: #fa4f26;
     font-weight: 700;
     margin: -80px 25px;
 }

 #contact .lean-whey2 {
    margin: -337px 250px;
    width: 300px;
 }
 
 #contact .ls-b2 {
     border: solid 1px #f00;
     width: 60px;
     border-radius: 20px;
     color: #f00;
     padding: 0 10px;
     margin: 40px 50px;
 }
 
 #contact .b-ls2 p {
     border: solid 1px green;
     width: 80px;
     height: 25px;
     border-radius: 20px;
     color: green;
     padding: 0 10px;
     margin: -64px 120px;
     font-size: 15px;
 }
 
 #contact .whey-lean2 {
     width: 180px;
     margin: 80px 30px;
 }
 
 #contact .header-lean2 {
     font-size: 15px;
     font-weight: 400;
     margin: -80px 20px;
     width: 300px;
 }
 
 
 #contact .lean-star2 {
     font-size: 15px;
     margin: 85px 20px;
     color: #ffac0d;
 }
 
 #contact .star2-6 {
     color: #000;
     margin: -20px 80px;
 }
 
 #contact .money-lean2 {
     color: #fa4f26;
     font-weight: 700;
     margin: -80px 20px;
 }

 #contact .lean-whey3 {
    margin: -398px 780px;
    width: 300px;
 }
 
 #contact .ls-b3 {
     border: solid 1px #f00;
     width: 60px;
     border-radius: 20px;
     color: #f00;
     padding: 0 10px;
     margin: 106px 50px;
 }
 
 #contact .b-ls3 p {
     border: solid 1px green;
     width: 80px;
     height: 25px;
     border-radius: 20px;
     color: green;
     padding: 0 10px;
     margin: -131px 120px;
     font-size: 15px;
 }
 
 #contact .whey-lean3 {
     width: 180px;
     margin: 140px 10px;
 }
 
 #contact .header-lean3 {
     font-size: 15px;
     font-weight: 400;
     margin: -136px 20px;
 }
 
 
 #contact .lean-star3 {
     font-size: 15px;
     margin: 140px 20px;
     color: #ffac0d;
 }
 
 #contact .star3-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean3 {
     color: #fa4f26;
     font-weight: 700;
     margin: -136px 20px;
 }

 #contact .lean-whey4 {
    margin: 400px -5px; 
 }
 
 
 #contact .whey-lean4 {
     width: 180px;
     margin: 80px 15px;
 }
 
 #contact .header-lean4 {
     font-size: 15px;
     font-weight: 400;
     margin: -80px 20px;
 }
 
 
 #contact .lean-star4 {
     font-size: 15px;
     margin: 85px 20px;
     color: #ffac0d;
 }
 
 #contact .star4-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean4 {
     color: #fa4f26;
     font-weight: 700;
     margin: -80px 20px;
 }

 #contact .lean-whey5 {
    margin: -735px 240px;
 }
 
 #contact .whey-lean5 {
     width: 180px;
     margin: 80px 30px;
 }
 
 #contact .header-lean5 {
     font-size: 15px;
     font-weight: 400;
     margin: -80px 20px;
 }
 
 
 #contact .lean-star5 {
     font-size: 15px;
     margin: 85px 20px;
     color: #ffac0d;
 }
 
 #contact .star5-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean5 {
     color: #fa4f26;
     font-weight: 700;
     margin: -80px 20px;
 }

 #contact .lean-whey6 {
    margin: 400px 500px;
    width: 300px;
 }
 
 #contact .whey-lean6 {
     width: 180px;
     margin: 80px 30px;
 }
 
 #contact .header-lean6 {
     font-size: 15px;
     font-weight: 400;
     margin: -80px 20px;
     width: 300px;
 }
 
 
 #contact .lean-star6 {
     font-size: 15px;
     margin: 85px 20px;
     color: #ffac0d;
 }
 
 #contact .star6-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean6 {
     color: #fa4f26;
     font-weight: 700;
     margin: -80px 20px;
 }

 #contact .lean-whey7 {
    margin: -800px 790px;
    width: 300px;
 }
 
 #contact .whey-lean7 {
     width: 180px;
     margin: 140px 10px;
 }
 
 #contact .header-lean7 {
     font-size: 15px;
     font-weight: 400;
     margin: -136px 20px;
 }
 
 
 #contact .lean-star7 {
     font-size: 15px;
     margin: 140px 20px;
     color: #ffac0d;
 }
 
 #contact .star7-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean7 {
     color: #fa4f26;
     font-weight: 700;
     margin: -136px 20px;
 }

 #contact .lean-whey8 {
    margin: 800px -5px; 
 }
 
 
 #contact .whey-lean8 {
     width: 180px;
     margin: 80px 15px;
 }
 
 #contact .header-lean8 {
     font-size: 15px;
     font-weight: 400;
     margin: -80px 20px;
 }
 
 
 #contact .lean-star8 {
     font-size: 15px;
     margin: 85px 20px;
     color: #ffac0d;
 }
 
 #contact .star8-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean8 {
     color: #fa4f26;
     font-weight: 700;
     margin: -80px 20px;
 }
 
 #contact .lean-whey9 {
    margin: -1135px 240px;
 }
 
 #contact .whey-lean9 {
     width: 180px;
     margin: 80px 30px;
 }
 
 #contact .header-lean9 {
     font-size: 15px;
     font-weight: 400;
     margin: -80px 20px;
 }
 
 
 #contact .lean-star9 {
     font-size: 15px;
     margin: 85px 20px;
     color: #ffac0d;
 }
 
 #contact .star9-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean9 {
     color: #fa4f26;
     font-weight: 700;
     margin: -80px 20px;
 }

 #contact .lean-whey10 {
    margin: 800px 510px;
    width: 300px;
 }
 
 #contact .whey-lean10 {
     width: 180px;
     margin: 80px 30px;
 }
 
 #contact .header-lean10 {
     font-size: 15px;
     font-weight: 400;
     margin: -80px 20px;
     width: 300px;
 }
 
 
 #contact .lean-star10 {
     font-size: 15px;
     margin: 85px 20px;
     color: #ffac0d;
 }
 
 #contact .star10-6 {
     color: #000;
     margin: -20px 100px;
 }
 
 #contact .money-lean10 {
     color: #fa4f26;
     font-weight: 700;
     margin: -80px 20px;
 }

 #contact .lean-whey11 {
    margin: -1200px 800px;
    width: 300px;
 }
 
 #contact .vo1 {
    float: right;
    margin: -850px 300px;
 }

 #contact .ov {
    margin: 250px -286px;
    float: left;
    border-style: solid;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    background-color: #f00;
 }

 #contact .ov1 a{
    text-decoration: none;
    line-height: 30px;
    padding: 0 11px;
    color: #fff;
 }

 #contact .ov-1 {
    margin: 250px -330px;
    float: left;
    border-style: solid;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    width: 35px;
    height: 35px;
 }

 #contact .ov2 a{
    text-decoration: none;
    line-height: 30px;
    padding: 0 11px;
    color: #000;
 }

 #contact .ov-1:hover {
    background-color: #f00;
    color: #fff;
 }

 #contact .ov-1:hover a {
    color: #fff;
 }

 #contact .ov-2 {
    margin: 250px -370px;
    float: left;
    border-style: solid;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    width: 35px;
    height: 35px;
 }

 #contact .ov3{
    text-decoration: none;
    line-height: 35px;
    padding: 0 10px;
    color: #000;
    font-size: 12px;
 }

 #contact .ov-2:hover {
    background-color: #f00;
    color: #fff;
 }

 #contact .ov3:hover {
    color: #fff;
 }

 #footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 191px;
    border: solid 1px #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

#footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

#footer .container .noi-dung{
    margin-right: 30px;
}
#footer  .container .noi-dung.about{
    width:40%;
}
#footer .container .noi-dung.about h2{
    position: relative;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
}
#footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
#footer .container .noi-dung.about p{
    color: #000;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #000;
    margin: 0 70px;
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2{
    position: relative;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.links{
   position: relative;
   width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    margin: 0 70px;
    line-height: 46.400px;
}
.links ul li a:hover{
    color: #000;
}

.contact h2{
    position: relative;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #000;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #000;
}
.contact .info li a{
    color: #000;
    text-decoration: none;
}

